In [1]:
import pandas as pd

In [12]:
ids = [11,22,33,44,55,66,77]
countries = ['Spain', 'France', 'Spain', 'Germany','France']

df =pd.DataFrame(list(zip(ids, countries)),
                columns=['ids', 'countries'])

In [3]:
df

   ids countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

In [9]:
y = pd.get_dummies(df.countries, prefix = 'Country') #create a dummie DF using df countries, with prefix Country
print(y.head())

   Country_France  Country_Germany  Country_Spain
0               0                0              1
1               1                0              0
2               0                0              1
3               0                1              0
4               1                0              0

In [13]:
from sklearn.preprocessing import LabelBinarizer #import method

In [14]:
y = LabelBinarizer().fit_transform(df.countries) #initialization of method

In [15]:
y

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0]])

In [17]:
meth = LabelBinarizer()

In [19]:
y=meth.fit_transform(df.countries)

In [20]:
y

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0]])

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
x = [[11,"Spain"], [22,"France"],[33,"Spain"],[44,"Germany"]]
y = OneHotEncoder().fit_transform(x).toarray()
print(y)

[[1. 0. 0. 0. 0. 0. 1.]
 [0. 1. 0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0. 0. 1.]
 [0. 0. 0. 1. 0. 1. 0.]]

In [24]:
from sklearn.preprocessing import LabelEncoder

In [27]:
label = LabelEncoder()
df["countries"]= label.fit_transform(df["countries"])
df

   ids  countries
0   11          2
1   22          0
2   33          2
3   44          1
4   55          0