In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_excel(r"C:\Users\Sarah\Downloads\vehicles\vehicles.xlsx")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [ ]:
cars.loc[cars['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic' #for columns transmission elements that start with A, add a new column Transtype with data Automatic
cars.head()

In [11]:
cars.loc[cars['Transmission'].str.startswith('M'), 'TransType'] = 'Manual'
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,NaN
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,NaN
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,NaN

In [5]:
cars['Transmission']

0        Automatic 3-spd
1        Automatic 3-spd
2        Automatic 3-spd
3        Automatic 3-spd
4        Automatic 4-spd
              ...
35947          Auto(AM5)
35948          Auto(AM5)
35949          Auto(AM5)
35950          Auto(AM6)
35951       Manual 5-spd
Name: Transmission, Length: 35952, dtype: object

In [15]:
avg_mpg = cars.groupby('Make', as_index=False).agg({'Combined MPG':'mean'}) #create new dataframe with aggregated DataFrame
avg_mpg.columns = ['Make', 'Avg_MPG']
avg_mpg

                            Make    Avg_MPG
0                     AM General  14.750000
1               ASC Incorporated  16.000000
2                          Acura  21.506623
3                     Alfa Romeo  19.512195
4    American Motors Corporation  17.681818
..                           ...        ...
122                   Volkswagen  24.093601
123                        Volvo  20.605300
124        Wallace Environmental  13.875000
125                         Yugo  25.000000
126                        smart  35.800000

[127 rows x 2 columns]

In [16]:
data = pd.merge(cars, avg_mpg, on='Make') #merging the two data frames on column 'Make', columns Avg_MPG is at the end
data.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,NaN,14.750000
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,14.750000
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,NaN,14.750000
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,14.750000
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,NaN,16.000000
5,Acura,2.2CL/3.0CL,1997,2.2,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,NaN,21.506623
6,Acura,2.2CL/3.0CL,1997,2.2,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400,Manual,21.506623
7,Acura,2.2CL/3.0CL,1997,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650,NaN,21.506623
8,Acura,2.3CL/3.0CL,1998,2.3,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500,NaN,21.506623
9,Acura,2.3CL/3.0CL,1998,2.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400,Manual,21.506623

In [22]:
data2 = cars.groupby('Make', as_index=False).agg({'Combined MPG':'sum'}) #create new DF with make and SUM

In [18]:
data2

                            Make  Combined MPG
0                     AM General            59
1               ASC Incorporated            16
2                          Acura          6495
3                     Alfa Romeo           800
4    American Motors Corporation           389
..                           ...           ...
122                   Volkswagen         25226
123                        Volvo         14774
124        Wallace Environmental           444
125                         Yugo           200
126                        smart           716

[127 rows x 2 columns]

In [19]:
data3 = pd.merge(cars, data2, on='Make') #merge new Data Frame with the first table

In [20]:
data3

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG_x,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Combined MPG_y
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,NaN,59
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,59
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,NaN,59
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,59
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,NaN,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,NaN,716
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,NaN,716
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,NaN,716
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,NaN,716
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,Manual,716

In [28]:
filtered = cars[(cars['Make']=='Ford')   #Filter by 3 arguments, maker, number of cylinders and Combined MPG
               & (cars['Cylinders']>=6)
               & (cars['Combined MPG'] < 18)]

In [29]:
filtered.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType
11442,Ford,Aerostar Van,1986,2.8,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950,NaN
11450,Ford,Aerostar Van,1988,3.0,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950,NaN
11452,Ford,Aerostar Van,1989,3.0,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950,NaN
11456,Ford,Aerostar Van,1990,4.0,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950,NaN
11459,Ford,Aerostar Van,1991,4.0,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950,NaN

In [36]:
filtered.value_counts()

Make  Model                 Year  Engine Displacement  Cylinders  Transmission  Drivetrain        Vehicle Class               Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year  TransType
Ford  Aerostar Wagon        1986  2.8                  6          Manual 5-spd  Rear-Wheel Drive  Vans                        Regular    19.388824          15        20           17            522.764706               1950            Manual       1
      F250 Pickup 2WD       1988  4.9                  6          Manual 4-spd  Rear-Wheel Drive  Standard Pickup Trucks      Regular    21.974000          14        16           15            592.466667               2200            Manual       1
                            1990  4.9                  6          Manual 4-spd  Rear-Wheel Drive  Standard Pickup Trucks      Regular    21.974000          14        16           15            592.466667               2200            Manual       1
                            1989  5.0                  8          Manual 5-spd  Rear-Wheel Drive  Standard Pickup Trucks      Regular    23.543571          12        16           14            634.785714               2400            Manual       1
                                                                  Manual 4-spd  Rear-Wheel Drive  Standard Pickup Trucks      Regular    25.354615          12        14           13            683.615385               2550            Manual       1
                                                                                                                                                                                                                                                      ..
      F150 Pickup 2WD       1990  4.9                  6          Manual 5-spd  Rear-Wheel Drive  Standard Pickup Trucks      Regular    20.600625          15        18           16            555.437500               2100            Manual       1
                                                                  Manual 4-spd  Rear-Wheel Drive  Standard Pickup Trucks 2WD  Regular    21.974000          15        17           15            592.466667               2200            Manual       1
                                                                                                  Standard Pickup Trucks      Regular    20.600625          15        17           16            555.437500               2100            Manual       1
                            1989  5.0                  8          Manual 5-spd  Rear-Wheel Drive  Standard Pickup Trucks      Regular    23.543571          12        16           14            634.785714               2400            Manual       1
      Shelby GT350 Mustang  2017  5.2                  8          Manual 6-spd  Rear-Wheel Drive  Subcompact Cars             Premium    20.600625          14        21           16            549.000000               2550            Manual       1
Length: 382, dtype: int64

In [37]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
bins = pd.cut(data['Combined MPG'],5, labels=mpg_labels) #cut converts to "bins" aka groups of data, here in 5 groups according to data (automatically sorted)
bins.head(10)

0         Low
1    Very Low
2    Very Low
3    Very Low
4    Very Low
5         Low
6         Low
7         Low
8         Low
9         Low
Name: Combined MPG, dtype: category
Categories (5, object): ['Very Low' < 'Low' < 'Moderate' < 'High' < 'Very High']

In [54]:
cars['bins1'] = pd.cut(data['Combined MPG'],5, labels=mpg_labels)
cars.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,bins1,bins2,bins3
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,NaN,Low,Low,Low
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,Very Low,Very Low,Very Low
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,NaN,Very Low,Very Low,Low
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,Very Low,Very Low,Very Low
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,NaN,Very Low,Very Low,Low
5,Acura,2.2CL/3.0CL,1997,2.2,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,NaN,Low,High,Moderate
6,Acura,2.2CL/3.0CL,1997,2.2,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400,Manual,Low,High,High
7,Acura,2.2CL/3.0CL,1997,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650,NaN,Low,Moderate,Low
8,Acura,2.3CL/3.0CL,1998,2.3,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500,NaN,Low,High,Moderate
9,Acura,2.3CL/3.0CL,1998,2.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400,Manual,Low,High,High

In [52]:
cars['bins2'] = pd.qcut(data['Combined MPG'],5, labels=mpg_labels) #quantile cut, so according tu the number or values
cars.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,bins1,bins2,bins3
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,NaN,Low,Low,Low
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,Very Low,Very Low,Very Low
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,NaN,Very Low,Very Low,Low
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,Very Low,Very Low,Very Low
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,NaN,Very Low,Very Low,Low
5,Acura,2.2CL/3.0CL,1997,2.2,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,NaN,Low,High,Moderate
6,Acura,2.2CL/3.0CL,1997,2.2,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400,Manual,Low,High,High
7,Acura,2.2CL/3.0CL,1997,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650,NaN,Low,Moderate,Low
8,Acura,2.3CL/3.0CL,1998,2.3,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500,NaN,Low,High,Moderate
9,Acura,2.3CL/3.0CL,1998,2.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400,Manual,Low,High,High

In [53]:
cutoffs = [7,14,21,23,30,40]
cars['bins3'] = pd.cut(data['Combined MPG'],cutoffs, labels=mpg_labels) #bins are predefined 
cars.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,bins1,bins2,bins3
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,NaN,Low,Low,Low
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,Very Low,Very Low,Very Low
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,NaN,Very Low,Very Low,Low
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,Very Low,Very Low,Very Low
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,NaN,Very Low,Very Low,Low
5,Acura,2.2CL/3.0CL,1997,2.2,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,NaN,Low,High,Moderate
6,Acura,2.2CL/3.0CL,1997,2.2,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400,Manual,Low,High,High
7,Acura,2.2CL/3.0CL,1997,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650,NaN,Low,Moderate,Low
8,Acura,2.3CL/3.0CL,1998,2.3,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500,NaN,Low,High,Moderate
9,Acura,2.3CL/3.0CL,1998,2.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400,Manual,Low,High,High

In [55]:
cars['bins1'].value_counts()

Low          23444
Very Low      9137
Moderate      3052
High           275
Very High       44
Name: bins1, dtype: int64

In [67]:
data2 = cars.groupby('bins1', as_index=False).agg({'Combined MPG':'max'}) #find de max values (aggregate) for bins1 in DF cars, no index needed
data2

       bins1  Combined MPG
0   Very Low            16
1        Low            26
2   Moderate            36
3       High            46
4  Very High            56

In [68]:
cars['bins2'].value_counts()

Moderate     9533
Very Low     9137
Low          5979
Very High    5716
High         5587
Name: bins2, dtype: int64

In [69]:
data3 = cars.groupby('bins2', as_index=False).agg({'Combined MPG':'max'}) #find de max values (aggregate) for bins1 in DF cars, no index needed
data3

       bins2  Combined MPG
0   Very Low            16
1        Low            18
2   Moderate            21
3       High            24
4  Very High            56

In [70]:
cars['bins3'].value_counts()

Low          20068
High          6046
Very Low      4576
Moderate      4041
Very High     1069
Name: bins3, dtype: int64

In [71]:
data4 = cars.groupby('bins3', as_index=False).agg({'Combined MPG':'max'}) #find de max values (aggregate) for bins1 in DF cars, no index needed
data4

       bins3  Combined MPG
0   Very Low            14
1        Low            21
2   Moderate            23
3       High            30
4  Very High            40