## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [40]:
# Your code here
sample_list_1=(random.sample(range(100),80))
print(sample_list_1)

[79, 69, 73, 97, 8, 68, 35, 94, 31, 54, 78, 72, 75, 3, 92, 30, 46, 62, 28, 64, 80, 39, 67, 90, 14, 53, 65, 51, 52, 19, 59, 49, 91, 48, 38, 82, 12, 20, 60, 16, 40, 71, 2, 27, 15, 5, 66, 10, 33, 47, 98, 18, 81, 25, 99, 88, 87, 32, 36, 17, 85, 11, 63, 58, 26, 77, 41, 7, 95, 42, 45, 84, 29, 22, 6, 23, 96, 9, 93, 1]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [63]:
# Your code here
set1=set(sample_list_1)
print(len(set1))
type(set1)
#length is still 80 as all values were unique

80

set

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [90]:
# Your code here
sample_list_2=[]
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
#len(sample_list_2)

[87, 10, 22, 38, 4, 32, 60, 88, 2, 7, 26, 33, 86, 55, 72, 76, 69, 61, 86, 50, 85, 4, 83, 30, 49, 25, 68, 27, 5, 61, 79, 65, 91, 13, 3, 64, 93, 77, 75, 35, 43, 23, 31, 94, 69, 1, 75, 75, 58, 36, 18, 81, 27, 46, 45, 41, 22, 97, 58, 48, 2, 89, 92, 44, 29, 11, 30, 30, 35, 92, 89, 81, 20, 98, 93, 23, 40, 34, 12, 1]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [91]:
# Your code here
set2=set(sample_list_2)
type(set2)

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [93]:
# Your code here
set3=set1-set2
print(set3)

{6, 8, 9, 14, 15, 16, 17, 19, 28, 39, 42, 47, 51, 52, 53, 54, 59, 62, 63, 66, 67, 71, 73, 78, 80, 82, 84, 90, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [95]:
# Your code here
set4=set2-set1
print(set4)

{34, 4, 43, 44, 13, 76, 50, 83, 86, 55, 89, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [97]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{1, 2, 3, 5, 7, 10, 11, 12, 18, 20, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 35, 36, 38, 40, 41, 45, 46, 48, 49, 58, 60, 64, 65, 68, 69, 72, 75, 77, 79, 81, 85, 87, 88, 91, 92, 93, 94, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [110]:
# Your code here
#set1 + set2 = set3 + set4 + set5

if (set1.union(set2))==(set3.union((set4.union(set5)))) :
    print('true')
else:
    print('false')

true

#### Create an empty set called `set6`.

In [101]:
# Your code here
set6=set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [102]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 45, 46, 47, 48, 49, 51, 52, 53, 54, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 84, 85, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [105]:
# Your code here
if set1 == set6:
    print('true')
else:
    print('false')

true

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [113]:
# Your code here
if set2.issubset(set1):
    print("Set2 is a subset of set2")
else:
    print('Set2 is not a subset of set1')

if set3.issubset(set1):
    print('Set3 is a subset of set1')
else:
    print('Set3 is not a subset of set1')

Set2 is not a subset of set1
Set3 is a subset of set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [120]:
# Your code here
smallsets=set3.union((set4.union(set5)))
bigsets=set1.union(set2)

if bigsets == smallsets:
    print('bigsets and smallsets are equal')
else:
    print('bigsets and smallsets are not equal')

bigsets and smallsets are equal

#### Using the `pop` method, remove the first element from `set1`.

In [122]:
# Your code here
set1.pop()

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 45, 46, 47, 48, 49, 51, 52, 53, 54, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 84, 85, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 45, 46, 47, 48, 49, 51, 52, 53, 54, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 84, 85, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [126]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)
print(set1)

{2, 3, 5, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 35, 36, 38, 40, 42, 45, 46, 47, 48, 52, 53, 54, 58, 60, 62, 63, 64, 65, 66, 67, 68, 72, 73, 75, 77, 78, 80, 82, 84, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}