# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [15]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [16]:
# Run this code:

pokemon = pd.read_csv(r'C:\Users\Sarah\Downloads/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [17]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [18]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [19]:
# Your code here:
legendary = pokemon[pokemon['Legendary']==True]
lm=legendary['Total'].mean()
ls=legendary['Total'].std()

non_legendary = pokemon[pokemon['Legendary']==False]
nlm=non_legendary['Total'].mean()
nls=non_legendary['Total'].std()

lm, ls, nlm, nls

(637.3846153846154, 60.93738905315346, 417.21360544217686, 106.76041745713022)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [23]:
# Your code here:
scipy.stats.ttest_ind(legendary.Total,non_legendary.Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#the pvalue is way lower than 0.05 which mean we reject H0 that both means would be equal

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [30]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [33]:
# Your code here:
water = pokemon[pokemon['Type 1']=='Water']
wm = water['Total'].mean()
ms = water['Total'].std()
other = pokemon[pokemon['Type 1']!='Water']
om = other['Total'].mean()
os = other['Total'].std()
wm, ms, om , os

(430.45535714285717,
 113.18826606431458,
 435.85901162790697,
 121.09168230208066)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [34]:
# Your code here:
scipy.stats.ttest_ind(water.Total,other.Total, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [35]:
# Your conclusions here:
# pvalue is higher that 0.05 which means H0 is accepted : the type (Water or other) does not have a significant impact

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [36]:
# Your code here:
scipy.stats.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
# p value way lower than 0.05 : H0 rejected, defense and attack scores are different

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [37]:
# Your code here:
scipy.stats.ttest_rel(pokemon['Sp. Def'], pokemon['Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# here pvalue is above 0.05, H0 is accepted : means of Sp Def and Sp Atk are equal or close to equal

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [47]:
# Your code here:
from scipy.stats import ttest_1samp

ttest_1samp(pokemon['Attack']-pokemon['Defense'], popmean=0 )

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [61]:
# Your code here:
pokemon['is_water']=np.where(pokemon['Type 1']=="Water", 1, 0)
compared = pd.crosstab(pokemon.is_water, pokemon.Legendary)
compared

Legendary  False  True
is_water
0            627    61
1            108     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [62]:
# Your code here:
scipy.stats.chi2_contingency(compared)
#returns : Chi2, p, dof, expected

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1,  55.9],
        [102.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
#p is the second value , based on 95% confidence it is above 0.05 so we should not reject the null hypothesis