In [20]:
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [16]:
titanic = sns.load_dataset('titanic')

In [17]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [18]:
titanic.drop(['deck'],axis=1, inplace =True)

In [25]:
titanic['age'] = np.where(titanic['age'].isna() == True,titanic['age'].mean(), titanic['age'] )

In [26]:
titanic.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

In [28]:
titanic.dropna(inplace=True)

In [29]:
titanic.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [34]:
titanic['sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: sex, Length: 889, dtype: object

In [38]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(titanic['sex'])
titanic['sex'] = le.transform(titanic['sex'])
# 1 is male , 0 is female

In [40]:
titanic.dtypes

survived          int64
pclass            int64
sex               int32
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
embark_town      object
alive            object
alone              bool
dtype: object

In [44]:
le = preprocessing.LabelEncoder()
le.fit(titanic['embarked'])
titanic['embarked'] = le.transform(titanic['embarked'])
# S is 2, C is 0, Q is 1

In [47]:
le = preprocessing.LabelEncoder()
le.fit(titanic['who'])
titanic['who'] = le.transform(titanic['who'])
# man is 1, woman is 2, child = 0

In [50]:
le = preprocessing.LabelEncoder()
le.fit(titanic['embark_town'])
titanic['embark_town'] = le.transform(titanic['embark_town'])
# Cherbourg = 0, Southampton = 2, Queenstown = 1

In [53]:
le = preprocessing.LabelEncoder()
le.fit(titanic['alive'])
titanic['alive'] = le.transform(titanic['alive'])
# yes = 1, no = 0

In [57]:
le = preprocessing.LabelEncoder()
le.fit(titanic['class'])
titanic['class'] = le.transform(titanic['class'])
# First = 0, Second = 1, Third = 2

In [61]:
le = preprocessing.LabelEncoder()
le.fit(titanic['adult_male'])
titanic['adult_male'] = le.transform(titanic['adult_male'])
# True = 1, False = 0

In [64]:
le = preprocessing.LabelEncoder()
le.fit(titanic['alone'])
titanic['alone'] = le.transform(titanic['alone'])
# True = 1, False = 0

In [66]:
titanic.dtypes

survived         int64
pclass           int64
sex              int32
age            float64
sibsp            int64
parch            int64
fare           float64
embarked         int32
class            int32
who              int32
adult_male       int64
embark_town      int32
alive            int32
alone            int64
dtype: object

In [76]:
titanic.drop(['alive'], axis=1, inplace=True)

In [86]:
y = titanic['survived']
X = titanic.drop(['survived'], axis=1)

In [87]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [88]:
rfe_selector = RFE(estimator=RandomForestClassifier())
m=rfe_selector.fit(X, y)
X.columns[m.get_support()]
print("Num Features: %s" % (m.n_features_))
print("Selected Features: %s" % (m.support_))
print("Feature Ranking: %s" % (m.ranking_))

Num Features: 6
Selected Features: [ True  True  True False False  True False False  True  True False False]
Feature Ranking: [1 1 1 2 4 1 5 3 1 1 7 6]

In [91]:
X.loc[:, m.support_].columns

Index(['pclass', 'sex', 'age', 'fare', 'who', 'adult_male'], dtype='object')

In [92]:
SFM = SelectFromModel(estimator=RandomForestClassifier())
s=SFM.fit(X, y)

In [93]:
feature_idx = s.get_support()
feature_name = X.columns[feature_idx]
feature_name

Index(['sex', 'age', 'fare', 'adult_male'], dtype='object')

In [95]:
from sklearn.model_selection import train_test_split

In [97]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=5)

In [98]:
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)
acc_rfc = rfc.score(X_test, y_test)
print('The accuracy of the Random Forest Classifier is:', acc_rfc * 100, '%')

The accuracy of the Random Forest Classifier is: 83.14606741573034 %