In [4]:
import pandas as pd
import scipy.stats

In [5]:
doc = pd.read_csv(r'C:\Users\Sarah\Downloads\investments - Sheet1.csv')

In [6]:
doc

     Month  Investments return
0        1                 119
1        2                 176
2        3                 190
3        4                 215
4        5                 173
..     ...                 ...
295    296                 185
296    297                 175
297    298                 198
298    299                 118
299    300                 190

[300 rows x 2 columns]

In [12]:
scipy.stats.ttest_1samp(doc['Investments return'], 150, alternative = "greater")
# with or without 'greater' pvalue very low, so both are rejected

Ttest_1sampResult(statistic=5.516125451260567, pvalue=3.754004633800564e-08)